
  <body>
    <div class="container">
      <h1>Ticket Details</h1>
      <p>Code: {{ticket.code}}</p>
      <p>Purchase Date: {{ticket.purchaseDateTime}}</p>
      <p>Amount: {{ticket.amount}}</p>
      <p>Purchaser: {{ticket.purchaser}}</p>
    </div>
  </body>
</html>