<h1>Chatee con un representante</h1>

<div class="box">
    <input id="chatBox" name="chatBox" type="text">
    <div class="boxMessages">
        <div id="messagesLogs"></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>