<h1>Chatee con un representante</h1>

<form>
    <input type="text" id="user" name="user" placeholder="user" required>
    <input type="text" id="message" name="message" placeholder="message" required>
    <button type="button" onclick="addMessage()">Add Message</button>
</form>
<div id="messagesBox">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>