body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

input {
    width: 50%;
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxMessages {
    align-self: flex-start;
    margin-left: 10px;
}