body {
    background: #090909;
    color: white;
}

hr {
    width: 100%;
}

a {
    cursor: pointer;
    color: #33a033;
}

a:hover {
    color: white;
}

button {
    cursor: pointer;
    margin-top: 5px;
    color: white;
    background-color: #33a033;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px;
}

button:hover {
    color: #33a033;
    background-color: white;
}

input {
    margin-bottom: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}